
body {margin:0px;}
h1 {
font-family: 'Montserrat', sans-serif;
font-colour: #000000;
color: #000000;
}
.logo {
			 height: 75%;
			 width: 75%;
				
}
.navbar {
  overflow: hidden;
  background-color: #ffffff;
  border: 2px;
  border-colour: #000000 ;
  border-style: solid;
  position: fixed;
  width: 100%;
}

.navbar a {
  float: bottom;
  display: inline-block;
  boder-left-style: solid;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: #ffffff;
  color: white;
}

.main {
  padding: 16px;
  height: 30px; /* Used in this example to enable scrolling */
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  boder-left-style: solid;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ffffff;
  color: black;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}